{% extends "base.html" %}

{% block content %}
<h1>Ваша корзина</h1>



<a href="/" class="btn btn-info">
    Вернуться в главное меню </a>
{% if cart_pr %}
{% for item in cart_pr %}
    <div class="col-md6 border rounded">
        <h2>{{item.products.title}}</h2>
        <div>
            {{item.products.content}}
        </div>
        <div>
            Продавец - {{item.user.name}}
        </div>
        <div>
            Цена - {{item.products.price}}
        </div>
        <div>
            Количество - {{item.cnt}}
        </div>
        <div>
            <img src=static/img/{{item.products.image}} alt="альтернативный текст">
        </div>
        <a href="/order" class="btn btn-success"> Заказать </a>
        <a href="/delete_shop_cart/{{ item.id }}" class="btn btn-info">
            Убрать из корзины </a>
    </div>
{% endfor %}
<div>
    <h4>Всего наименований - {{col}}</h4>
</div>
<div>
    <h4>Общая сумма (в рублях) - {{summ}}</h4>
</div>
<a href="/order" class="btn btn-warning">
            Заказать всё </a>
{% else %}
<p style="margin-top: 3%">
<p>
<p>
<font size="6" color="47a76a" face="Canada">Вы ещё не добавили товары в корзину. Перейдите на главную страницу, чтобы сделать это!</font>
</p>
<div>
    <p class="fig"><img src=static/img/cat_cart.jpg alt="альтернативный текст"></p>
</div>
<style>
   .fig {
    text-align: right;
   }
  </style>
{% endif %}

{% endblock %}
