{% extends "base.html" %}

{% block content %}
<h1>Товары</h1>

{% if not current_user.is_authenticated%}
<p>Чтобы быть покупателем и продавцом, авторизуйтесь!</p>
{% endif %}
{% if current_user.is_authenticated %}
    <a href="products" class="btn btn-secondary">Добавить товар</a>
{% endif %}

{% for item in products%}
    <div class="row">
        {% for sub_item in item %}
        <div class="col-md-5" style="padding-left: 30px; padding-right: 30px; border: 1px solid #000000; margin: 20px">
            <h2>{{sub_item.title}}</h2>
            <div>
                {{sub_item.content}}<br />
            </div>
            <div>
                Продавец - {{sub_item.user.name}}
            </div>
            <div>
                Цена - {{sub_item.price}}
            </div>
            <div>

                <img src=static/img/{{sub_item.image}} alt="альтернативный текст">
            </div>
        {% if current_user.is_authenticated%}
        <div>
            <a href="/likes" class="btn btn-info">
                Добавить в избранное
            </a>
            <a href="/shop_cart" class="btn btn-success">
                Добавить в корзину
            </a>
        </div>
        {% endif %}

        {% if current_user.is_authenticated and current_user == sub_item.user %}
        <div>
            <a href="/products/{{ sub_item.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/products_delete/{{ sub_item.id }}" class="btn btn-danger">
                Удалить
            </a>

        </div>
        {% endif %}
<!--        <div style="width: 100%; height: 20px"></div>-->
            <br>
        </div>
    {% endfor %}
    </div>
{% endfor %}

{% endblock %}
